.jumbotron,
.card-body,
.container,
.site-header {
  font-family: 'Raleway', serif !important;
}

.jumbotron .display-4 {
  font-weight: bold;
}

nav a {
  text-decoration: none;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .input-responsive {
    width: 100px;
  }
}
@media (min-width: 360px) {
  .btn-operador {
    font-size: 10px;
  }
}


@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.jumbotron {
  height: 50vh;
  padding: 5em inherit;
  margin-bottom: 0;
  background-color: #53C0FB;
  background: url('../img/cover_back.png');
  background-size: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  font-weight: bold;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  text-shadow: 1px 1px 2px grey;
}

.jumbotron .lead {
  font-size: 38px;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.site-header a {
  color: white;
  transition: ease-in-out color .15s;
}

.site-header .dropdown-menu a {
  color: black;
}

.dropzone {
  border: 2px dashed #0087F7;
  border-radius: 5px;
  background: white;
}

.img-fit {
  max-height: 100%;
}

#img{
  max-width: 12%;
  max-height: 12%;
  border: 1px solid rgba(128, 128, 128, 0.484);
}




#secondName:valid, #secondLastName:valid, #email:valid, #imgInput:valid{
  border-color: rgba(128, 128, 128, 0.317);
  background-image: none;
}


#secondName:focus, #secondLastName:focus, #email:focus, #imgInput:focus{
  color: #212529;
  background-color: #fff;
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13,110,253,.25);
}




.alert {
  position: fixed;
  top: 80px;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0);
  
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
}

.cursor-active {
  cursor: pointer;
}

.left {
  float: left;
  padding: 4px;
  background-color: rgba(255, 255, 255, 0.5);
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

#spinner-wrapper {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1021;
  display: none;
}

main {
  min-height: calc(100vh - 210px);
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: inherit;
}

.checkedd{
  color: orange;
}
.checked:hover {
  color: orange;
}

#alert-login{

  position: absolute;
  top: 0;
  height: 80px;
  padding-top: 30px;
  text-align: center;
  border-radius: 10px;
}

#logout{
  margin-left: 0px;
  
  
}
#logout:hover{
  background-color: rgb(255, 83, 83);
  
}

#logout_fondo:hover {
  background-color: rgb(253, 83, 83);
}

/* Pauta 3 Entrega 4 */
.dark-mode {
  background-color: black;
  color: white;
}


.responsive-container {
  width: 20rem;
  background-color: rgb(248, 249, 250);
  border-radius: 10px;
}

/* boton sumar y restar cart */
.btn-operador{
  font-weight: bolder;
  border-radius: 50%;
  box-shadow: 0 4px #ffffff;
  background-color: white;
  border: 2px solid rgb(51, 51, 51);;
}

.btn-operador:hover{
  transform: translateY(-2px)
  }

 .btn-operador:active{
 box-shadow: 0 2px rgb(31, 31, 31);
 transform: translateY(4px);

   }

   #btn-buy{
    position: fixed;
    right: 0;
    
   }

/* quitar flechitas por defecto de input number */
   input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#flexSwitchCheckDefault{
  font-size: 200%;
  background-image: url("../img/brightness-high.svg");
  background-size: 45%;
  background-position: 1.5px center;
  border: solid black;
}

#flexSwitchCheckDefault:checked{
  background-image: url("../img/moon.svg");
  background-size: 45%;
  background-position: 30px center;
}

.form-check-input:checked{
  background-color: rgb(21, 18, 80);
}


   




